.selector {
  --padding: 10px;
  background-color: white;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  border: solid 1px black;
}
.selected {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: var(--padding);
  font-weight: 800;
  cursor: pointer;
}
.bottomBorder {
  border-bottom: solid 1px black;
}
.arrowIcon {
  width: 10px;
  height: auto;
  margin-left: auto;
}
.options {
}
.option {
  padding: var(--padding);
  cursor: pointer;
  border-top: solid 1px black;
}
.option:nth-child(1) {
  border: none;
}
