.modal {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
  justify-self: center;
  align-items: start;
  width: 100%;
  max-width: 400px;
  min-height: 600px;
  height: auto;
  border-radius: 5px;
  padding: 15px 20px;
}
.tabsBar {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}
.tabsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  width: 100%;
  gap: 30px;
}
.tabBtn {
  background-color: transparent;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.tabBtn:hover {
  opacity: 0.6;
}
.tabIcon {
  width: 100%;
  height: auto;
}
.closeIcon {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: fill 0.2s ease-in;
  justify-self: end;
}
.form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto 50px;
  justify-self: center;
  align-self: start;
  width: 100%;
  height: 100%;
}
.input {
  width: 100%;
  justify-self: start;
}
.bottomContainer {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 100%;
  width: 100%;
}
.deleteBtn {
  width: 40px;
  background-color: transparent;
}
.binIcon {
  width: 100%;
  height: auto;
}
.nextBtn,
.okBtn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  grid-column: 2;
  transition: opacity 0.2s ease-in;
  background-color: transparent;
  font-size: 1.5rem;
  justify-self: end;
}
.nextBtn:hover,
.okBtn:hover {
  opacity: 0.6;
}

.submitError {
  width: 100%;
  text-align: center;
  font-family: var(--prime-font);
}
