.modal {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  justify-self: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.closeIcon {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: fill 0.2s ease-in;
  justify-self: end;
}
.form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  justify-self: center;
  width: 100%;
  padding: 20px;
}
.input {
  width: 100%;
}
.submitBtn {
  width: 100%;
  max-width: 300px;
  height: 50px;
  justify-self: center;
  align-self: start;
  border-radius: 5px;
  font-size: clamp(0.8rem, 5vw, 1.1rem);
  font-weight: 600;
  margin-top: 10px;
}
